<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div  *ngIf="isLoaded && products?.length > 0" class="col-md-3 mt-2 form-inline" style="text-align: right;">
        <app-product-search></app-product-search>
       <div class="mt-2">
        <span class="d-inline-block mr-1">Sort by </span>
        <select #select (change)="updateSort(select.value)" class="custom-select d-inline-block">
          <option value="dateCreated" select>Newest</option>
          <option value="name">Name</option>
          <option value="unitPrice">Price</option>
        </select>
       </div>
      </div>
      <br>
      <div *ngIf="!isLoaded" class="alert alert-warning col-md-12 align-content-center" role="alert">
        <div class="loader"></div>
        <b class="">Please wait until the server is loaded</b>
      </div>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div *ngFor="let product of products" class="col-md-3 mb-4">

            <!-- Card -->
            <div class="card">

              <div class="view zoom overlay rounded">
                <img class="img-fluid w-100"
                     [src]="product.imageUrl" alt="Sample">
                <a routerLink="/product/{{product.id}}">
                  <div class="mask">
                    <img class="img-fluid w-100"
                         [src]="product.imageUrl">
                    <div class="mask"></div>
                  </div>
                </a>
              </div>

              <div class="text-center">

                <a routerLink="/product/{{product.id}}"><h5>{{product.name}}</h5></a>

                <hr>
                <h6 class="mb-3">{{product.unitPrice | currency :'USD'}}</h6>
                <button (click)="addToCart(product)"  type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                  <i class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
              </div>


            </div>
            <!-- Card -->

          </div>
          <!-- Grid column -->



        </div>
        <!-- Grid row -->


      <ngb-pagination *ngIf="size>0" [collectionSize]="size" [pageSize]="pageSize"  [(page)]="page" (pageChange)="listProducts()"  [boundaryLinks]="true"></ngb-pagination>

    </div>
    <div *ngIf="size>0" class="col-md-3 mt-2" style="text-align: right;">
      <span class="mr-2">Page Size</span>

      <select  #select (change)="updatePageSize(+$event.target.value)">
        <option>5</option>
        <option>10</option>
        <option  selected="true" >20</option>
        <option>50</option>
      </select>
    </div>
  </div>

</div>
