<div  fxLayout="row" fxLayoutAlign="center none" class="w-100">


    <mat-card class="w-100" >
        <mat-card-content>
            <h2>Administration</h2>

            <div fxLayout="row"  fxLayout.sm="column" fxLayout.xs="column">


                <mat-tab-group class="w-100">
                    <mat-tab label="Products management">
                        <app-products-editing></app-products-editing>
                    </mat-tab>
                    <mat-tab  label="Categorie management">
                        <app-categories-editing></app-categories-editing>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </mat-card-content>
    </mat-card>

</div>
