<div class="">
    <div class="section-content section-content text-center">
        <div class="container-fluid">
            <h3 class="card-headchangeProductswitcher text-center font-weight-bold text-uppercase py-4">Manage
                products</h3>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label><strong>Search</strong></mat-label>
                <input [(ngModel)]="productPage.search" matInput placeholder="search..."
                       (keyup.enter)="fetchProducts()">
                <mat-icon (click)="fetchProducts()" role="button" matSuffix>search</mat-icon>
            </mat-form-field>
            <ng-template #noProducts>
                <ngb-alert>No products found</ngb-alert>
            </ng-template>
             <div class="alert alert-danger" *ngIf="errors?.length">
                 <ul>
                   <li *ngFor="let error of errors">{{error.message}}</li>
                 </ul>
             </div>
            <ng-container *ngIf="dataSource?.data?.length; else noProducts">
                <div class="input-group mx-3">
                    <strong for="formFile" class="fs-5">Add/Update from excel</strong>
                    <div>
                        <input #file class="form-control" accept=".xlsx,.xls" (change)="addOrUpdateFromExcel(file)"
                               type="file" id="formFile">
                    </div>
                </div>
                <button (click)="saveToExcel()" class="btn btn-primary rounded  mx-5">download excel</button>
                <app-editable-table [dataSource]="dataSource"
                                    [enableMultiEditing]="true"
                                    (dataUpdated)="updateProduct($event)"
                                    (dataAdded)="addProduct($event)"
                                    (dataDeleted)="removeProduct($event)"
                                    (dataSorted)="sortProducts($event)"
                                    (UpdateAll)="updateProducts($event)"
                                    (RemoveAll)="removeProducts($event)"
                                    (imageClick)="onImageClicked($event)"
                ></app-editable-table>
                <tr>
                    <mat-paginator [length]="productPage.totalSize" class="float-start fs-6  fw-bold"
                                   (page)="onPage($event.pageIndex+1,$event.pageSize)"
                                   [pageIndex]="productPage.number-1"
                                   [pageSize]="productPage.size"
                                   [pageSizeOptions]="[5, 10, 25,50,100]"
                                   aria-label="Select page">
                    </mat-paginator>

                </tr>
                <br>
                <br>

            </ng-container>

        </div>
    </div>

    <ng-template #zoomedImagesCont>
        <div class="position-relative full-height">
         <p class="fw-bold fs-4">Edit Images</p>
        <div   class="d-flex flex-wrap gap-2 ">
            <div cdkDropList  class="position-relative" *ngFor="let image of selectedImages;let i=index;  trackBy: trackByIndex;">
                <button  (click)="removeImage(image)"  mat-icon-button aria-label="Remove" class="btn position-absolute end-0  w-auto h-auto p-1" matTooltip="Remove">
                    <mat-icon class="d-block text-danger" >close</mat-icon>
                </button>
                <img cdkDrag (cdkDragReleased)="dropImage($event,i)" [src]="image" class="zoom-img" alt="container"/>
            </div >
            <div class="zoom-img d-flex align-items-center justify-content-center bg-light"  matTooltip="Add new image">
                <input  id="file" #file (change)="uploadFile(file)" type="file" class="form-control file" accept="image/*">
                <label for="file" class="file-label">
                    <em class="fas fa-plus fa-2xl"></em></label>
            </div>
        </div>
        </div>
    </ng-template>
</div>



