<div class="container" fxLayout="row" fxLayoutAlign="center none">

    <div fxFlex="100%">
        <div class="container" fxLayout="row" fxLayoutAlign="center none">

            <h2>Shopping page</h2>

        </div>

        <div class="container py-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <mat-form-field appearance="fill"  >
                            <mat-label><strong>Search</strong></mat-label>
                            <input [(ngModel)]="productPage.searchValue" matInput placeholder="search..." (keyup.enter)="getPagedProducts()">
                            <mat-icon (click)="getPagedProducts()" role="button"  matSuffix>search</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-auto" >
                            <mat-label><strong>Categories</strong></mat-label>
                            <mat-select [(ngModel)]="selectedCategoryId" name="category" (selectionChange)="getPagedProducts()" >
                                <mat-option [value]="">
                                    All
                                </mat-option>
                                <mat-option *ngFor="let op of categories"  [value]="op.id">
                                    {{op.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-auto" >
                            <mat-label><strong>Sort by</strong></mat-label>
                            <mat-select [(ngModel)]="productPage.sort" name="sort" (selectionChange)="getPagedProducts()" >
                                <mat-option *ngFor="let op of sortOptions"  [value]="op.value">
                                    {{op.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="row">
                        <div  class="col-md-3" *ngFor="let product of products ">

                        <app-product [product]="product"></app-product>
                        </div>


                    </div>
                    <div class="row">
                        <div class="justify-content-start  ">

                            <ngb-pagination  [collectionSize]="productPage.totalSize ?? products.length" [(page)]="productPage.page" size="lg"
                                            [pageSize]="productPage.pageSize"  [maxSize]="4" [boundaryLinks]="true"
                                            (pageChange)="getPagedProducts($event)"
                            ></ngb-pagination>
                        </div>
                    </div>
                </div>

            </div>
        </div>    </div>
</div>
