<div class="main-content">

  <div class="detail-section">
    <div *ngIf="!cartItem" class="alert alert-warning w-100">We did not found any product</div>

    <div class="container-fluid" *ngIf="cartItem">

      <img src="{{ cartItem?.image }}" class="detail-img">

      <h3>{{ cartItem?.name }}</h3>
      <div class="price">{{ cartItem?.unitPrice | currency:'USD' }}</div>
      <a (click)="addToCart()" class="btn  btn-primary m-20">Add to cart</a>
      <a (click)="handleCheckout()" class="btn btn-success m-1">Checkout</a>
      <div>
        <b class="float-left m-2">Quantity</b>
        <div class="quantity">

          <input (click)="increment(qt)" type="button" value="+" class="plus">
          <input #qt (change)="handleQuantityChange(qt.valueAsNumber)" type="number" step="1" max="99" min="1" value="1"
                 title="Qty" class="qty"
                 size="4">
          <input (click)="decrement(qt)" type="button" value="-" class="minus">
        </div>
      </div>
      <hr>
      <h4 class="description">Description</h4>
      <p>{{ cartItem?.description }}</p>
      <a routerLink="/products" class="mt-5 btn btn-info">Back to Product List</a>
    </div>
  </div>
</div>
