<br>
<span *ngIf="!batchEnabled" class="table-add  mb-3 mr-2"><a (click)="insertNewRow()" class="text-success">Add<i
  class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>


<div *ngIf="batchEnabled">
  <div *ngIf="selectedSize>0" class="alert alert-info">{{selectedSize}} elements has been selected</div>
  <button  (click)="saveAll()" class="btn btn-info">Save all</button>
  <button [disabled]="selectedSize<=0" (click)="deleteAll()" class="btn btn-danger">Remove all</button>
</div>
<div class="table-responsive table-wrapper-scroll-y">
  <app-dialog text="Are you sure to delete ?"></app-dialog>

  <table class="table table-bordered table-striped w-auto text-center table-fixed" scrollY="true" maxHeight="200"
         cellspacing="0"
         width="100%">
    <thead>
    <tr>
      <th *ngIf="!batchEnabled" class="text-center align-middle"><h3>Edit</h3></th>
      <th *ngIf="batchEnabled" class="text-center align-middle">
        <h3>Select
          <div class="custom-control custom-checkbox">
            <input [checked]="false" (change)="onAllSelected(check)" #check type="checkbox" class="custom-control-input"
                   [id]="'selectCheck'">
            <label class="custom-control-label" [for]="'selectCheck'"></label>
          </div>
        </h3>
      </th>
      <th (click)="sort(idx,ic)" *ngFor="let cl of columnNames; let idx = index" class="text-center align-middle">
        <a class="max-content"><b>{{cl}}</b></a>
        <i #ic class="fa fa-sort" aria-hidden="true"></i>
      </th>

    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let el of Data ; let idx= index;trackBy: trackByFn" [className]="el.hasError?'bg-warning':''">

      <td class="p-1 align-middle">
      <span *ngIf="!batchEnabled" class="table-edit">
        <button *ngIf="!el.isEditing" (click)="onViewChanged(el)" type="button"
                class="btn btn-info btn-rounded btn-sm my-0">Update</button>
        <button *ngIf="el.isEditing" (click)="onSave(idx)" type="button"
                class="btn btn-success btn-rounded btn-sm my-0">Save</button>
        <button (click)="remove(idx)" type="button" class="btn btn-danger btn-rounded  btn-sm my-1">Remove</button>
      </span>
        <span *ngIf="batchEnabled" class="select">
    <div class="custom-control custom-checkbox">
    <input [(ngModel)]="el.selected" (change)="onElSelected(el)" #check type="checkbox"
           class="custom-control-input" [id]="'selectCheck'+idx">
    <label class="custom-control-label" [for]="'selectCheck'+idx"></label>
    </div>
        </span>

      </td>

      <td *ngFor="let field of fields" (click)="onViewChanged(el)" class="pt-3-half p-1 align-middle mw-200"
          [ngStyle]="el[field.name]?.length>100 && {minWidth: '200px'}"
          [ngClass]="(el?.dirty && batchEnabled && !el.hasError) && 'bgDirty'">

        <ng-container *ngIf="!el.isEditing && !batchEnabled">
         <span *ngIf="(!field.type || field.type !== 'image')">
           {{getSting(el, field.name)}}</span>
          <img *ngIf="field.type === 'image' && !isFileUploading[idx]" [src]="el[field.name]">
          <div *ngIf="field.type === 'image' && isFileUploading[idx]" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-container>

        <ng-container *ngIf="el.isEditing || batchEnabled">
          <input *ngIf="!field.type  &&  el[field.name].length<35" [(ngModel)]="el[field.name]" type="text"
                 class="form-control w-auto"
                 (input)="onValueChanged(idx,this.field)" (keyup.enter)="onSave(idx)">
          <textarea (keyup.enter)="onSave(idx)" *ngIf="!field.type &&  el[field.name].length>=35"
                    [(ngModel)]="el[field.name]" type="text" class="form-control w-auto"
                    (input)="onValueChanged(idx,this.field)"></textarea>
          <div class="file-input" *ngIf="field.type === 'image'">
            <input id="file" #file type="file" class="form-control file" accept="image/*"
                   (change)="processFile(idx,this.field.name,file)">
            <label for="file">Select file</label>
          </div>


          <input *ngIf="field.type === 'number'" #input [(ngModel)]="el[field.name]" class="form-control number-input"
                 (input)="onValueChanged(idx,this.field)" (keyup.enter)="onSave(idx)">

          <input [disabled]="field.readOnly" *ngIf="field.type === 'date'" type="date"
                 [(ngModel)]="el[field.name]" class="form-control w-auto">

          <div *ngIf="field.type === 'bool'" class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitches"
                   (change)="onValueChanged(idx,this.field)" [(ngModel)]="el[field.name]">
            <label class="custom-control-label" for="customSwitches"></label>
          </div>

          <select *ngIf="selects.get(field.name)" [compareWith]="byId" [(ngModel)]="el[field.name]"
                  (change)="onValueChanged(idx,this.field)"
                  class="browser-default custom-select w-auto">
            <option [ngValue]="null">Choose</option>
            <option [ngValue]="op"
                    *ngFor="let op of selects.get(field.name).options">{{op[selects.get(field.name).displayField]}}</option>
          </select>
          <span *ngIf="el.hasError && el.isEditing" class="text-danger">{{getError(field.name)}}</span>
        </ng-container>
      </td>
    </tr>

    </tbody>
  </table>
</div>

