img{
 width: 100px;
}
.number-input{
  width: 100px;
}
.file-input{
  width: 250px;
}
.my-custom-scrollbar {

}
button{
  padding: 7px !important;
}
.table-wrapper-scroll-y {
  position: relative;
  height: 600px;
  overflow: auto;
  display: block;
}
.row-error {
  background-color: indianred;
}
table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}
th, td {
  padding: 0.25rem;
}
tr.red th {
  background: red;
  color: white;
}
tr.green th {
  background: green;
  color: white;
}
tr.purple th {
  background: purple;
  color: white;
}
th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
