.bgDirty {
    background-color: rgba(241, 233, 190, 0.38) !important;
}
.bgError {
    background-color: rgba(255, 99, 71, 0.42) !important;
}

.select-size {
    width: 10px;
}

.text-area {
    resize: both;
    min-width: 300px;
}

.actions {
    width: 90px;
    margin: auto;
}


.max-content {
    width: max-content;
}

.td-img {
    max-height: 50px;
    object-fit: contain;
}
.zoom-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.number-input {
    width: 80px !important;
}


button {
    padding: 7px !important;
}

.table-wrapper-scroll-y {
    position: relative;
    height: 600px;
    overflow: auto;
    display: block;
}

.row-error {
    background-color: #f8bdbd !important;
}

table {
    text-align: left;
    position: relative;
    height: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.25rem;
}

tr.red th {
    background: red;
    color: white;
}

tr.green th {
    background: green;
    color: white;
}

tr.purple th {
    background: purple;
    color: white;
}

table thead {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.tfoot {
    background: whitesmoke;
    position: sticky;
    bottom: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

td {
    font-size: 12px;
}


input[type=text], textarea, select {
    font-size: small;
    width: 100%;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0;
}

.fa-plus-square {
    font-size: xx-large;
}

.error-warning {
    background-color: #ffaead !important;
}
.text-error{
    color: tomato;
}
