<div class="m-2" *ngIf="enableMultiEditing">
    <div class="custom-control custom-switch d-flex gap-4">
        <button (click)="rollback()" class="btn btn-primary"><em class="fas fa-refresh"></em>Refresh</button>
        <mat-slide-toggle  [(ngModel)]="isBatchEnabled">Multi editing</mat-slide-toggle>
    </div>


    <div *ngIf="isBatchEnabled" class="d-inline">
        <button [disabled]="!hasDataChanged()" (click)="updateAll()" class="btn btn-info m-2">Update all</button>
        <button [disabled]="!selectedSize" (click)="removeAll()" class="btn btn-danger">Remove selected rows</button>
    </div>

</div>
<div class="table-responsive table-wrapper-scroll-y">

    <table class="table table-bordered  table-light  m-auto text-center  float-start ">
        <caption>Editable table</caption>
        <thead>
        <tr>
            <th *ngIf="!isBatchEnabled" class="text-center text-primary align-middle  bg-info ">

                <button class="btn btn-dark" (click)="addNewItem()">
                    <em class="fas fa-plus-square"></em></button>
            </th>
            <th *ngIf="isBatchEnabled" class="text-center align-middle bg-info text-dark">
                Select all
                <h4>
                    <mat-checkbox class="example-margin" (change)="onAllSelected($event.checked)"></mat-checkbox>
                </h4>
            </th>
            <ng-container *ngFor="let field of schema; trackBy: trackByField">
                <th *ngIf="!isColHide(field)" (keyup.enter)="sort(field.name,icon)" (click)="sort(field.name,icon)"
                    class="text-center  align-middle bg-info border-secondary">
                    <a
                            class="max-content mx-2 text-dark fa-lg fw-bold  text-decoration-none"><strong>{{ field.display }}</strong></a>
                    <em #icon class="fa fa-sort" aria-hidden="true"></em>
                </th>
            </ng-container>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let el of data;let idx=index trackBy: trackById">

            <td class="p-1 align-middle actions" [ngClass]="{'bgDirty':el.isModified,'bgError':hasError(el)}">
                <ng-container *ngIf="!isBatchEnabled" class="table-edit">
                    <div class="d-flex justify-content-center"
                         *ngIf="(!isCurrentElement(el) || isDialogOpened) && !el.isSaving">
                        <button (click)="editItem(el,idx)" type="button" class="btn btn-rounded btn-sm my-0"><em
                                class="fas fa-edit text-info"></em></button>
                        <button (click)="remove(el)" type="button" class="btn btn-rounded  btn-sm  mx-2">
                            <em class="fas fa-trash-alt text-error"></em></button>
                    </div>
                    <span *ngIf="el.isSaving" class="spinner-grow spinner-grow-sm"
                          aria-hidden="true"></span>
                    <ng-container *ngIf="isCurrentElement(el) && !isDialogOpened">
                        <button [disabled]="myForm.invalid" *ngIf="!el.isSaving" (click)="handleSubmit()" type="button"
                                class="btn btn-group btn-lg">
                            <em class="fas fa-check text-success"></em>
                        </button>
                        <button *ngIf="!el.isSaving" (click)="rollback()"
                                class="btn btn-rounded">
                            <em class="fas fa-window-close text-warning"></em>
                        </button>

                    </ng-container>
                </ng-container>
                <div *ngIf="isBatchEnabled" class="select">
                    <mat-checkbox class="example-margin" [(ngModel)]="el.selected"
                                  (change)="onElementSelected(el)"></mat-checkbox>

                </div>

            </td>
            <ng-container *ngFor="let field of schema">
                <td *ngIf="!isColHide(field)" (click)="onRowClicked(el)" class="align-middle"
                    [class]="{'bgDirty':el.isModified,'bgError':hasError(el)}">

                    <div *ngIf="!isRowEditing(el,field) && !isBatchEnabled" class=" text-max-width">
                        <strong *ngIf="field.type==='number' || field.type==='decimal' || field.type==='text'">
                            {{ el[field.name] }}</strong>
                        <strong *ngIf="field.type==='textArea'"> {{ el[field.name] | limitTo :'60' }}</strong>
                        <strong *ngIf="field.type==='date'"> {{ el[field.name] | date }}</strong>
                        <strong *ngIf="field.type==='bool'"> {{ el[field.name] ? 'Yes' : 'No' }}</strong>
                        <strong *ngIf="field.type==='select' && field.selectOptions">
                            {{ el[field.name][field.selectOptions.displayField] }}</strong>
                        <img class="td-img" (click)="onImageClicked($event,el[field.name])"
                             *ngIf="field.type === 'image'"
                             [src]="el[field.name]?.[0]" alt="container"/>
                    </div>

                    <div class="py-2 text-center" *ngIf="isBatchEnabled">
                        <input *ngIf="field.type==='text'" type="text" [(ngModel)]="el[field.name]"
                               (input)="onValueChanged(el)" class="max-content form-control bg-transparent"/>
                        <input *ngIf="field.type==='number'" type="number" [(ngModel)]="el[field.name]"
                               (input)="onValueChanged(el)" class="form-control bg-transparent"/>
                        <input *ngIf="field.type==='decimal'" [(ngModel)]="el[field.name]"
                               (input)="onValueChanged(el)" class="form-control bg-transparent"/>
                        <input *ngIf="field.type==='date'" type="date" [(ngModel)]="el[field.name]"
                               (input)="onValueChanged(el)" class="form-control bg-transparent"/>
                        <textarea [autosize]="hasFocus(inp)" #inp *ngIf="field.type==='textArea'"
                                  [(ngModel)]="el[field.name]" (input)="onValueChanged(el)"
                                  class="form-control bg-transparent text-area"></textarea>
                        <div *ngIf="field.type === 'bool'"
                             class="form-check form-switch  fa-xl w-auto d-flex justify-content-center">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="el[field.name]"
                                   (input)="onValueChanged(el)">
                        </div>
                        <select *ngIf="field.type==='select' && field.selectOptions" [name]="field.name"
                                (selectionchange)="onValueChanged(el)" [compareWith]="compareWith"
                                [(ngModel)]="el[field.name]" class="w-auto form-select bg-transparent">
                            <option [ngValue]="op" *ngFor="let op of field.selectOptions.options">
                                {{ op[field.selectOptions.displayField] }}
                            </option>
                        </select>

                        <div *ngIf="hasError(el)" class="text-error">{{ getError(field.name, el) }}</div>
                    </div>
                    <div class="py-2 text-center" [formGroup]="myForm"
                         *ngIf="isRowEditing(el,field) && !isBatchEnabled">
                        <app-table-form [myForm]="myForm" [field]="field" (uploadFile)="uploadFile(currentElement,field,$event)"></app-table-form>
                    </div>
                </td>
            </ng-container>
        </tr>

        </tbody>


    </table>
    <ng-template #elementEdit>
        <form (submit)="handleSubmit()" [formGroup]="myForm">
            <h1 mat-dialog-title>{{ isCurrentNew() ? 'Add new item' : 'Update item' }}</h1>

            <div mat-dialog-content>
                <ng-container *ngFor="let field of schema; trackBy: trackByField">
                 <app-table-form [myForm]="myForm" [field]="field" (uploadFile)="uploadFile(currentElement,field,$event)"></app-table-form>
                </ng-container>

            </div>

            <div mat-dialog-actions>
                <button [disabled]="myForm.invalid" mat-raised-button
                        *ngIf="isCurrentNew() && !currentElement.isSaving" mat-button
                        color="primary" cdkFocusInitial>Add
                </button>
                <button [disabled]="myForm.invalid" mat-raised-button
                        *ngIf="!isCurrentNew() && !currentElement.isSaving" mat-button
                        color="primary" cdkFocusInitial>Update
                </button>
                <span *ngIf="currentElement.isSaving" class="spinner-grow spinner-grow m-2" role="status"
                      aria-hidden="true"></span>
                <button mat-raised-button [mat-dialog-close]="" color="accent">Cancel</button>
            </div>
        </form>
    </ng-template>
    <ng-template #zoomedImagesCont>
        <div class="row gap-4">
            <img *ngFor="let image of zoomedImages" [src]="image" class="zoom-img" alt="container"/>
        </div>
    </ng-template>
</div>