<div class="container">
    <div class="row">
        <mat-stepper #stepper  class="col-lg-10">
            <mat-step #step1 [stepControl]="customerForm" >
                <form [formGroup]="customerForm">
                    <ng-template matStepLabel>Fill out your shipping information</ng-template>
                    <app-input [errorKeys]="['fullName']" matIcon="face" label="Full name" [control]="customerForm.controls['fullName']">
                    </app-input>
                    <app-input [errorKeys]="['email']" matIcon="email" label="Email address" [control]="customerForm.controls['email']">
                    </app-input>
                    <app-select placeholder="Select a country" [items]="['Morocco','Egypt','Algeria','Tunisia']"
                                [control]="customerForm.controls['country']">
                    </app-select>
                    <app-input [errorKeys]="['city']" matIcon="location_on" label="City" [control]="customerForm.controls['city']">
                    </app-input>
                    <app-input [errorKeys]="['street']" matIcon="location_on" label="Street" [control]="customerForm.controls['street']">
                    </app-input>
                    <div>
                        <button [disabled]="customerForm.invalid" mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step  [hasError]="hasCreditCardError()"  [stepControl]="formCard.cardForm" label="Fill out payment information">
               <app-credit-card-form class="m-1" #formCard  [selectedCard]="selectedCard!"  >
               </app-credit-card-form>
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button [disabled]="!!creditCardForm?.invalid" mat-raised-button class="mx-2" color="primary" matStepperNext>Next</button>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-raised-button color="accent" matStepperPrevious >Back</button>
                    <button mat-raised-button class="mx-2" color="primary" (click)="onSubmit()">Complete</button>
                </div>
            </mat-step>
        </mat-stepper>

        <mat-card class="col-lg-2 h-25">
            <div class="d-flex justify-content-around">
                <h5>Total price :</h5>
                <strong>{{totalPrice | currency : '$'}}</strong>
            </div>

            <div class="d-flex justify-content-around">
                <h5>Total quantity :</h5>
                <strong class="">{{totalQuantity}}</strong>
            </div>


        </mat-card>

    </div>

</div>
