.custom-file-label {
  width: 250px;
}

.container-radios {
  width: fit-content;
}

.radioGroup {
  padding-left: 14px;
  border: 1px solid dimgray;
  border-radius: 5px;
}

.input-group {
  text-align: start;
  width: max-content;
  display: inline-block;

}

.container-fluid {
  text-align: start;
}

