<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Manage products</h3>
<ng-container *ngIf="products?.length>0">
      <app-editable-table   (dataChanged)="handleDataChanged($event)" (fileUploaded)="handleUploadFile($event)"
                            [newElement]="getNewProduct()"
                            [Data]="products" [columnNames]="headers" [fields]="fields"
                            [options]="{categoryName:categories}"
                            (dataAdded)="handleDataAdded($event)"
                            (dataDeleted)="handleDataDeleted($event)"
                            [errors]="errors"
      ></app-editable-table>
  <ngb-pagination (pageChange)="fetchProducts($event)"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="size"
    [boundaryLinks]="true"
  >
  </ngb-pagination>

  <select  class="browser-default custom-select w-auto float-right" (change)="fetchProducts()" [(ngModel)]="pageSize" >
    <option>10</option>
    <option>20</option>
    <option>30</option>
  </select>

</ng-container>

    </div></div></div>

