<form (submit)="handleSubmit()" [formGroup]="cardForm">
    <div mat-dialog-content>
        <app-select [readonly]="!isCardNumberChanged() && !isNewCard" appearance="fill" [items]="cardOptions"
                    selectValue="cardType" selectLabel="name" placeholder="Card type"
                    [control]="cardForm.controls['cardType']">
                   </app-select>
        <app-input [errorKeys]="['cardNumber']" appearance="fill" matIcon="credit_card" label="Card number" [control]="cardForm.controls['cardNumber']">
        </app-input>
        <app-input [errorKeys]="['expirationDate']"
                [readonly]="!isCardNumberChanged() && !isNewCard" appearance="fill"
                   placeHolder="month/year, ex: mm/yy,10/30" label="Expiration date"
                   [control]="cardForm.controls['expirationDate']">
                    </app-input>
    </div>
    <ng-content></ng-content>
</form>
