<div *ngIf="!isMenu" class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <b>Categories</b>
    <ul class="list-unstyled navbar-list">
      <li *ngFor="let category of productCategories">
        <a routerLink="category/{{category.id}}" [queryParams]="params"
           routerLinkActive="active-link">{{category.name}}</a>
      </li>
    </ul>
  </nav>
</div>

<li *ngIf="isMenu" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false">Categories</a>
  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" routerLink="category/{{category.id}}" [queryParams]="params" routerLinkActive="active"
       *ngFor="let category of productCategories" ngbDropdownItem>{{category.name}}</a>
  </div>

