<div class="main-content">

    <div class="section-content section-content-p30">
        
        <h4 class="alert alert-info w-75 mt-4 mx-auto" *ngIf="!orders?.length ">No orders have yet been placed </h4>

        <div *ngIf="orders?.length"  class="container-fluid my-5 fw-bold fs-6  justify-content-center">
            <div class="card card-1">
                <div class="card-header ">
                    <mat-toolbar color="primary">Thanks for your Order !</mat-toolbar>
                </div>
                <div *ngFor="let order of orders ; let idx=index" class="card-body">
                 
                    <div>
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h6 class="color-1 mb-0 change-color">Order issued by {{order.fullName}}</h6>
                                <h6 class="color-1 mb-0 change-color">{{order.country}}, {{order.city}}</h6>
                                <h6 class="color-1 mb-0 change-color">{{order.street}}</h6>
                            </div>
                            <div class="col-auto "><small>Order date : {{order.dateCreated | date}}</small></div>
                        </div>
                        <div *ngFor="let item of order.orderItems" class="row mt-4">
                            <div class="col">
                                <div class="card card-2">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="sq align-self-center "><img
                                                    class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                                                    src="{{ item.image}}"
                                                    width="135" height="135" alt="{{item.name}}"/></div>
                                            <div class="media-body my-auto text-right">
                                                <div class="row my-auto flex-column flex-md-row">
                                                    <div class="col-auto my-auto ">
                                                        <a routerLink="/product/{{item.id}}"><h6
                                                                class="mb-0"> {{item.name}}</h6></a>
                                                    </div>

                                                    <div class="col my-auto "><small>Qty : {{item.quantity}}</small>
                                                    </div>
                                                    <div class="col my-auto ">
                                                        <h6 class="mb-0">{{item.unitPrice | currency :'USD'}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-3 ">
                                        <div class="row ">
                                            <div class="col-md-3 mb-3"><small> Track Order <span><em
                                                    class=" ml-2 fa fa-refresh"
                                                    aria-hidden="true"></em></span></small>
                                            </div>
                                            <div class="col mt-auto">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar rounded" style="width: 18%"
                                                         role="progressbar"
                                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-4">
                            <div class="col">
                                <div class="row justify-content-between">
                                    <div class="flex-sm-col text-right col">
                                        <p class="mb-1"><strong>Total</strong></p>
                                    </div>
                                    <div class="flex-sm-col col-auto">
                                        <p class="mb-1">{{order.totalPrice | currency : 'USD'}}</p>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="flex-sm-col text-right col">
                                        <p class="mb-1"><strong>Total Quantity</strong></p>
                                    </div>
                                    <div class="flex-sm-col col-auto">
                                        <p class="mb-1">{{order.quantity}}</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <button mat-stroked-button (click)="removeOrder(order,idx)" class="float-end">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
