<div class="container">
    <div class="details-wrapper sec-padding" >
        <h3>Payment information</h3>

        <mat-toolbar class="bg-info">

            <span>My credit cards</span>
            <span class="example-spacer mx-50 px-50"></span>
        </mat-toolbar>
        <button mat-button   color="primary" (click)="addNew()"  class="fs-4 mt-2 add-new-btn w-auto p-20 add-new-btn " ><mat-icon>add</mat-icon>Add a credit card</button>

        <ng-template  #cardEdit  >
             <form (submit)="handleSubmit()" [formGroup]="cardForm">
             <h1 mat-dialog-title>{{isNewCard?'Add new credit card':'Updating credit card'}}</h1>

             <div mat-dialog-content >
                     <app-select [readonly]="!isEnableEditing && !isNewCard" appearance="fill"  [items]="cardNames"  selectValue="cardType" selectLabel="name" placeholder="Card type" [control]="cardForm.controls['cardType']">
                         <mat-error>{{this.getApiError('cardType')}}</mat-error>
                     </app-select>
                     <app-input (changeValue)="onCreditCardChange($event)" appearance="fill" matIcon="credit_card" label="Card number" [control]="cardForm.controls['cardNumber']" >
                         <mat-error>{{this.getApiError('cardNumber')}}</mat-error>
                     </app-input>
                     <app-input [readonly]="!isEnableEditing  && !isNewCard" appearance="fill" placeHolder="month/year, ex: mm/yy,10/30"  label="Expiration date" [control]="cardForm.controls['expirationDate']" >
                         <mat-error>{{this.getApiError('expirationDate')}}</mat-error>
                     </app-input>
             </div>

             <div mat-dialog-actions>
                 <button mat-raised-button *ngIf="isNewCard"  [disabled]="cardForm.invalid" mat-button color="primary"   cdkFocusInitial >Save</button>
                 <button mat-raised-button *ngIf="!isNewCard" mat-button [disabled]="cardForm.invalid" color="primary" cdkFocusInitial >Update</button>
                 <button mat-raised-button [mat-dialog-close]="" color="accent"  >Cancel</button>
             </div>
             </form>
         </ng-template>

        <ngb-alert *ngIf="!creditCards.length" type="secondary" class="w-100 mt-4 "> You have no credit cards </ngb-alert>
        <div class="row row-cols-xl-3 row-cols-lg-2  mt-4" >
            <div  *ngFor="let card of creditCards, let idx = index"  >
                <app-credit-card [creditCard]="card" (remove)="handleRemove($event,idx)" (edit)="edit($event)" (active)="handleActive(card)" ></app-credit-card>
            </div>
        </div>

    </div>
</div>
