<div class="container">
    <div class="details-wrapper sec-padding">
        <h3>Payment information</h3>

        <mat-toolbar class="bg-info">

            <span>My credit cards</span>
            <span class="example-spacer mx-50 px-50"></span>
        </mat-toolbar>
        <button mat-button color="primary" (click)="addNew()" class="fs-4 mt-2 add-new-btn w-auto p-20 add-new-btn ">
            <mat-icon>add</mat-icon>
            Add a credit card
        </button>

        <ng-template #cardEdit>
            <h1 mat-dialog-title>{{!selectedCard?.id ? 'Add new credit card' : 'Updating credit card'}}</h1>
            <app-credit-card-form [selectedCard]="selectedCard!"  (addNewCard)="save($event)" (updateCard)="update($event)" >
                <div mat-dialog-actions >
                    <button mat-raised-button  mat-button color="primary" *ngIf="!selectedCard"
                            cdkFocusInitial>Save
                    </button>
                    <button mat-raised-button mat-button *ngIf="selectedCard"
                            color="primary" cdkFocusInitial>Update
                    </button>
                    <button mat-raised-button [mat-dialog-close]="" color="accent">Cancel</button>
                </div>
            </app-credit-card-form>
        </ng-template>

        <ngb-alert *ngIf="!creditCards.length" type="secondary" class="w-100 mt-4 "> You have no credit cards
        </ngb-alert>
        <div class="row row-cols-xl-3 row-cols-lg-2  mt-4">
            <div *ngFor="let card of creditCards, let idx = index">
                <app-credit-card [creditCard]="card" (remove)="handleRemove($event,idx)" (edit)="edit($event)"
                                 (active)="handleActive(card)"></app-credit-card>
            </div>
        </div>

    </div>
</div>
