<div class="page-wrapper">

  <header class="header-desktop">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">

      <!-- Navbar brand -->
      <a class="navbar-brand" routerLink="/">Home</a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">


          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/orders">My orders</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/products/editing">Manage products</a>
          </li>
          <ng-container *ngIf="user">

            <li class="nav-item">
              <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
            </li>
          </ng-container>
          <ng-container *ngIf="!user">

            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/register">Register</a>
            </li>
          </ng-container>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [href]="getDocs()">Api documentation</a>
          </li>

          <!-- Dropdown -->
          <app-product-category isMenu="true"></app-product-category>
          <ng-container  *ngIf="user">
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-info">
              <b class="text-dark font-weight-bold">My profile</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-info">
              <b class="text-dark font-weight-bold">Welcome {{user.userName}}!</b></a>
          </li>
          </ng-container>
        </ul>
        <!-- Links -->
        <app-my-cart></app-my-cart>
      </div>

      <!-- Collapsible content -->

    </nav>

  </header>
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/logo.png" width="100" height="73" alt="shopping logo" class="img-responsive">
      </a>
    </div>

    <app-product-category></app-product-category>
  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->

    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>

  </div>
</div>

<!-- ENDS PAGE CONTAINER -->

<footer>
  <ul>

    <li><a href="https://adnanbk.herokuapp.com">Adnane Benkouider 2020</a></li>
  </ul>
</footer>
