<mat-form-field [appearance]="appearance" class="w-100">
    <mat-label>{{placeholder}}</mat-label>
    <mat-select  [disabled]="readonly" [required]="formControl.hasError('required')" #inp
                [formControl]="formControl" [compareWith]="compareWith">
        <mat-option *ngFor="let item of items"
          [value]="selectValue?item[selectValue]:item" >
            {{selectLabel?item[selectLabel]:item}}
        </mat-option>

    </mat-select>
    <mat-error *ngIf="formControl.hasError('required')">please select an option</mat-error>
    <span *ngIf="!formControl.touched && !formControl.dirty">
            <ng-content></ng-content>
    </span>
</mat-form-field>
