<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form (ngSubmit)="onLogin()" #form="ngForm">
        <div class="form-area text-center">

          <span class="text-danger ">{{getError()}}</span>
          <div class="row">
            <div class="col-md-2"><label>User name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input name="userName" required class="form-control" [(ngModel)]="user.userName" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Password</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input name="password" required class="form-control" type="password" [(ngModel)]="user.password"
                       required>
              </div>
            </div>
          </div>


          <!-- submit button-->
          <div class="text-center">
            <button [disabled]="form.invalid" type="submit" class="btn btn-info mr-2">Login</button>
            <br>
            <span class="label">Or sign in with:</span>
            <div id="gSignInWrapper" (click)="googleLogin()">
              <div id="customBtn" class="customGPlusSignIn">
                <img class="google-icon"
                     src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                <span class="buttonText">Google</span>
              </div>
            </div>
            <a id="fb-spinner" (click)="facebookLogin()">
              <i class="fab fa-facebook-f"></i>
              Facebook

            </a>
            <br>
            <a routerLink="" (click)="createAccount()"> Create new account</a>
          </div>

        </div>


      </form>

    </div>

  </div>

</div>
