@import "../../../../../assets/variables";


/***************************************
*  Details page styles
****************************************/
.details-wrapper {
  .product-image {
    img {
      max-width: 100%;
    }
  }

  .product-right {
    padding: 0 30px 0 25px;

    .product-details {
      padding-bottom: 15px;
      border-bottom: 1px dashed $grey-light;

      h2 {
        margin-bottom: 10px;
      }

      h4 {
        del {
          color: $grey;
          font-size: 17px;
        }

        span {
          padding-left: 5px;
          color: $theme-main-red;
          font-size: 24px;
        }
      }

      .avalibility {
        span {
          color: $theme-main-red;
          font-weight: 500;
        }
      }

      p.description {
        line-height: 26px;
      }

      h3.price {
        font-size: 26px;
        font-weight: 400;
        margin: 10px 0;
      }


    }

    .quantity {
      margin-top: 10px;

      span {
        margin-bottom: 7px;
        display: block;
      }

      input {
        width: 80px;
        text-align: center;
        background-color: $white-dark;
        height: 35px;
        border: 1px solid $grey3;
      }
    }
  }

  .info-bar {
    border: 1px solid $grey-light;
    padding: 0 20px;
    margin-top: 0px !important;

    .mat-icon {
      color: $font-color;
      font-size: 41px;
      margin-right: 15px;
      line-height: 23px;
    }

    .content {
      p {
        text-transform: capitalize;
        font-weight: 500;
      }
    }

    .mat-card {
      box-shadow: none !important;
      padding: 20px 0;
      border-bottom: 1px solid $grey-light;

    }

    .mat-card.no-border {
      border-bottom: none;
    }
  }

  .products {
    padding-right: 30px;

    .title {
      margin-bottom: 15px;
      position: relative;
      padding-bottom: 1.25rem;

      &::before {
        content: "";
        left: 0;
        position: absolute;
        width: 100%;
        height: 0.0625rem;
        bottom: 0.34375rem;
        background-color: #f6f6f6;
      }

      &::after {
        content: "";
        left: 0;
        position: absolute;
        width: 2.5rem;
        height: 0.125rem;
        background-color: #222222;
        bottom: 0.3125rem;
      }
    }
  }

 
        mat-card {
          img {
            max-height: 400px;
            object-fit: contain;
            display: block;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
          }
        }

}

.product-slick.product-zoom.slick-initialized.slick-slider {
  z-index: 1;
}


.mat-list-base .mat-list-item.mat-3-line, .mat-list-base .mat-list-option.mat-3-line {
  height: 100% !important;
  margin-bottom: 20px;
}
