<input (input)="onInputChange()" *ngIf="type!=='select'" [type]="type" [formControl]="control"
       [placeholder]="placeholder" class="form-control">
<select (change)="onInputChange()" *ngIf="type==='select'" [formControl]="control">
  <option [ngValue]="el"
          *ngFor="let el of valueData; index as i">{{displayData.length > 0 ? displayData[i] : valueData[i]}}</option>
</select>
<ng-container *ngIf="showError()">
  <span class="text-danger" *ngIf="control.errors.required"> this field is required </span>
  <span class="text-danger" *ngIf="control.errors.email"> email must be in valid format </span>
  <span class="text-danger" *ngIf="control.errors.minlength">
  The characters must be at least {{control.errors.minlength.requiredLength}} </span>
  <span class="text-danger" *ngIf="control.errors.mustMatch">
  Passwords must match </span>
  <br>
</ng-container>
<span class="text-danger" *ngIf="this.hasAnyApiError()">{{this.apiError}}</span>

