<input (input)="onInputChange()" *ngIf="type!=='select' && type!='checkBox'" [type]="type" [formControl]="control"
       [placeholder]="placeholder" class="form-control">
<select (change)="onInputChange()" *ngIf="type==='select'" [formControl]="control" class="form-control">
  <option [ngValue]="el"
          *ngFor="let el of valueData; index as i">{{displayData.length > 0 ? displayData[i] : valueData[i]}}</option>
</select>

<div *ngIf="type === 'checkBox'"  class="custom-control custom-switch">
  <input type="checkbox" (change)="onInputChange(ch.checked)" #ch class="custom-control-input" id="sw" [formControl]="control" >
  <label class="custom-control-label" for="sw">{{placeholder}}</label>
</div>
<ng-container *ngIf="showError()">
  <span class="text-danger" *ngIf="control.errors.required"> this field is required </span>
  <span class="text-danger" *ngIf="control.errors.email"> email must be in valid format </span>
  <span class="text-danger" *ngIf="control.errors.minlength">
  The characters must be at least {{control.errors.minlength.requiredLength}} </span>
  <span class="text-danger" *ngIf="control.errors.mustMatch">
  Passwords must match </span>
  <br>
</ng-container>
<span class="text-danger" *ngIf="this.hasAnyApiError()">{{this.apiError}}</span>

