<mat-card-title class="mt-4 text-center"> change my password</mat-card-title>
<form class="text-center mt-4 " [formGroup]="form" (submit)="changePassword()">

    <app-input appearance="standard" label="Current password" inputType="password"
               [control]="form.controls['currentPassword']">
        <mat-error *ngIf="form.hasError('currentPassword')">{{form.getError('currentPassword')}}</mat-error>
    </app-input>
    <app-input appearance="standard" label="New Password" inputType="password" [control]="form.controls['newPassword']">
        <mat-error *ngIf="form.hasError('newPassword')">{{form.getError('newPassword')}}</mat-error>
    </app-input>
    <app-input appearance="standard" label="Confirm new Password" inputType="password"
               [control]="form.controls['newPasswordConfirm']"></app-input>
    <button mat-raised-button color="primary" [disabled]="form.invalid || !form.touched">Save</button>


</form>