<mat-card-title class="mt-4 text-center"> change my password</mat-card-title>
<form class="text-center mt-4 " [formGroup]="form" (submit)="changePassword()">

    <app-input [errorKeys]="['currentPassword']" appearance="outline" label="Current password" inputType="password"
               [control]="form.controls['currentPassword']">
    </app-input>
    <app-input [errorKeys]="['newPassword']" appearance="outline" label="New Password" inputType="password" [control]="form.controls['newPassword']">
    </app-input>
    <app-input appearance="outline" label="Confirm new Password" inputType="password"
               [control]="form.controls['newPasswordConfirm']"></app-input>
    <button mat-raised-button color="primary" [disabled]="form.invalid || !form.touched">Save</button>


</form>
