<mat-card-title class="text-center mt-4 ">Profile Information</mat-card-title>
<div class="d-lg-flex  gap-5 ">
    <div class="d-flex flex-column align-items-center image-width">

        <img *ngIf="user.imageUrl" [src]="user.imageUrl" referrerpolicy="no-referrer" class="circle "
             alt="My avatar">
        <img *ngIf="!user.imageUrl" src="../../../../../assets/images/user.png" class="circle" alt="My avatar">

        <app-file-input [accepts]="['.jpg','.jpeg','.png']" class="mt-2" *ngIf="!isImageUploading" text="Modify image"
                        (upload)="handleFileUpload($event)"></app-file-input>
        <div *ngIf="isImageUploading" class="spinner-border text-primary align-self-center " role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

    </div>

    <div class="profile-card border-0 w-100 mt-4 ">
        <form [formGroup]="profileForm" (submit)="onSubmit()" class="myform">
            <mat-card class="formCard">
                <mat-card-content>

                    <app-input [errorKeys]="['firstName']" appearance="outline" matIcon="face" label="First name"
                               [control]="profileForm.controls['firstName']">
         
                    </app-input>
                    <app-input [errorKeys]="['lastName']"  appearance="outline" matIcon="face" label="Last name"
                               [control]="profileForm.controls['lastName']">
                    </app-input>
                    <app-input [errorKeys]="['email']" [readonly]="user.social!" appearance="outline" matIcon="email" label="Email address"
                               [control]="profileForm.controls['email']">
                    </app-input>
                    <app-select appearance="outline" placeholder="Select a country"
                                [items]="['Morocco','Egypt','Algeria','Tunisia']"
                                [control]="profileForm.controls['country']">
                    </app-select>
                    <app-input [errorKeys]="['city']" appearance="outline" matIcon="location_on" label="City"
                               [control]="profileForm.controls['city']">
                    </app-input>
                    <app-input [errorKeys]="['street']" appearance="outline" matIcon="location_on" label="Street"
                               [control]="profileForm.controls['street']">
                    </app-input>

                </mat-card-content>

                <mat-card-actions class="login-actions text-center">

                    <ng-container>
                        <button mat-raised-button type="submit" color="primary" class="mx-4 btn-lg  "
                                [disabled]="!profileForm.dirty || profileForm.invalid">Save
                        </button>
                    </ng-container>
                </mat-card-actions>
            </mat-card>

        </form>

    </div>

</div>

