<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div *ngIf="!cartItems || cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
        You cannot checkout.
      </div>

      <form *ngIf=" this.cartItems?.length>0" #form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <br>
        <br>
        <!-- customer form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2"><label>Full Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="fullName">

              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" readonly formControlName="email">
              </div>
            </div>
          </div>

        </div>

        <!-- shipping Address -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <app-input (inputChanged)="handleChange($event)"
                           [control]="checkoutFormGroup.controls.shippingAddress.get('country')"
                           type="select"
                           [valueData]="['Morocco','Algeria','France','China']"></app-input>
                <span class="text-danger">{{getError('country')}}</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <app-input (inputChanged)="handleChange($event)"
                           [control]="checkoutFormGroup.controls.shippingAddress.get('street')"
                           placeholder="Street"></app-input>
                <span class="text-danger">{{getError('street')}}</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <app-input (inputChanged)="handleChange($event)"
                           [control]="checkoutFormGroup.controls.shippingAddress.get('city')"
                           placeholder="City"></app-input>
                <span class="text-danger">{{getError('city')}}</span>
              </div>
            </div>
          </div>


        </div>

        <!-- Credit Card -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>

          <div class="row">
            <div class="col-md-2"><label>Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">

                <app-input (inputChanged)="handleChange($event)"
                           [control]="checkoutFormGroup.controls.creditCard.get('cardType')"
                           type="select" [valueData]="['VISA','MASTERCARD']"
                           [displayData]="['Visa','Master card']"></app-input>
                <span class="text-danger">{{getError('cardType')}}</span>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Expiration Date</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <app-input (inputChanged)="handleChange($event)"
                           [control]="checkoutFormGroup.controls.creditCard.get('expirationDate')"
                           placeholder="expiration Date (month/year)"></app-input>
                <span class="text-danger">{{getError('expirationDate')}}</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Card number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <app-input (inputChanged)="handleChange($event)"
                           [control]="checkoutFormGroup.controls.creditCard.get('cardNumber')"
                           placeholder="cardNumber"></app-input>
                <span class="text-danger">{{getError('cardNumber')}}</span>

              </div>
            </div>
          </div>


        </div>

        <!-- Order details -->
        <div class="form-area">
          <h3>Review Your Order</h3>

          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
        </div>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>

      </form>

    </div>
  </div>
</div>
