<div class="container" fxLayout="row" fxLayoutAlign="center none">


    <mat-card class="w-100" >
      <mat-card-content>
        <h2>My Profile</h2>

        <div fxLayout="row"  fxLayout.sm="column" fxLayout.xs="column">


            <mat-tab-group>
              <mat-tab label="Change profile information">
                <app-profile-details></app-profile-details>
              </mat-tab>
              <mat-tab *ngIf="!isSocialUser()" label="Change Password">
                <app-change-password></app-change-password>
              </mat-tab>
            </mat-tab-group>

        </div>
      </mat-card-content>
    </mat-card>

</div>
