<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="col-md-8">

  <div class="card mb-3"  *ngIf="!isUserModifying">
    <h2 class="text-center text-primary border-bottom border-primary text-title">Profile information</h2>
    <div class="card-body">
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">First name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{user?.firstName}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Last name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{user?.lastName}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{user?.email}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Country</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{user?.country ||'Not yet provided'}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">City </h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{user?.city  ||'Not yet provided'}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Street</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{user?.street  ||'Not yet provided'}}
        </div>
      </div>
    </div>
    <button class="btn btn-info width-1 submit-btn " (click)="isUserModifying=true">Modify</button>

  </div>

        <form  *ngIf="isUserModifying" (ngSubmit)="updateUserInfo($event)" [formGroup]="userForm" class="card mb-3 d-block" >
          <h2 class="text-center text-primary border-bottom border-primary text-title">Profile information</h2>
          <div class="card-body input-space">
             <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">First name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <app-input (inputChanged)="handleChange()" [control]="userForm.controls.firstName"
                           placeholder="First name" name="firstName" [errors]="errors"></app-input>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <app-input (inputChanged)="handleChange()" [control]="userForm.controls.lastName"
                           placeholder="Last name" name="lastName" [errors]="errors"></app-input>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <app-input (inputChanged)="handleChange()" [control]="userForm.controls.email"
                           placeholder="Email" name="email" [errors]="errors"></app-input>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Country</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <app-input (inputChanged)="handleChange()" [control]="userForm.controls.country"
                           placeholder="Country" name="country" [errors]="errors"></app-input>

              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">City </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <app-input (inputChanged)="handleChange()" [control]="userForm.controls.city"
                           placeholder="City" name="city" [errors]="errors"></app-input>

              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Street</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <app-input (inputChanged)="handleChange()" [control]="userForm.controls.street"
                           placeholder="Street" name="street" [errors]="errors"></app-input>
              </div>
            </div>
          </div>
          <button class="btn btn-success">Save</button>
          <button class="btn btn-danger " (click)="isUserModifying=false">Cancel</button>

        </form>

        <form  (ngSubmit)="updatePassword($event)" [formGroup]="changePasswordForm" class="card mb-3 d-block"
               *ngIf="user?.isSocial==false">
          <h2 class="text-center text-primary border-bottom border-primary text-title">Change password</h2>
          <div class="card-body input-space ">
            <hr>
            <div class="row form-row">

              <div class="col text-secondary">
                <app-input type="password" (inputChanged)="handleChange()" [control]="changePasswordForm.controls.currentPassword"
                           placeholder="Current Password" name="currentPassword" [errors]="errors"></app-input>
              </div>
              <div class="col text-secondary">
                <app-input type="password" (inputChanged)="handleChange()" [control]="changePasswordForm.controls.newPassword"
                           placeholder="New Password" name="newPassword" [errors]="errors"></app-input>
              </div>
            </div>

          </div>
          <button class="btn btn-success">Save</button>

        </form>

        <div *ngIf="!isCardModifying" class="card mb-3">
          <h2 class="text-center text-primary border-bottom border-primary text-title">Payment information</h2>
          <button (click)="onAddNewCard()" class="btn btn-info submit-btn btn-sm">+ Add new card</button>

          <div class="card-body text-center">
            <ng-container *ngIf="cards.length>0">
              <div class="col-sm-12">
                <app-input (inputChanged)="onCardActive()" type="checkBox" name="active" placeholder="make it primary" [control]="cardForm.controls.active"></app-input>
              </div>
            <div class="card-inputs">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Card type</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{selectedCard?.cardType}}
              </div>
            </div>
              <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Card Number</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{selectedCard?.cardNumber}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Expiration date</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{selectedCard?.expirationDate}}
              </div>
            </div>
            <br>
        </div>
              <button class="btn btn-info submit-btn btn-sm" (click)="isCardModifying=true">Modify</button>
              <button class="btn btn-danger submit-btn btn-sm" (click)="removeCard()">Remove</button>
            </ng-container>


            <span *ngIf="cards.length===0" class="alert alert-info">You have no card</span>
          </div>
          <ng-container *ngIf="cards.length>0">
          <hr>
          <hr>
          <a class="prevBtn  btn btn-sm btn-success" (click)="previousCard()"><< Previous</a>
          <a class="nextBtn btn btn-sm btn-success" (click)="nextCard()">Next >></a>
          </ng-container>
        </div>

        <form *ngIf="isCardModifying" class="card mb-3" (ngSubmit)="submitUserCard()" [formGroup]="cardForm">
          <h2 class="text-center text-primary border-bottom border-primary text-title">Payment information</h2>
          <div class="card-body text-center input-space">
            <div class="card-inputs">

<br>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Card type</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <app-input (inputChanged)="handleChange()" name="cardType" [errors]="errors"
                             [control]="cardForm.controls.cardType"
                             placeholder="card type"
                              type="select" [items]="cardNames"
                             selectValue="value" selectLabel="label" >
                  </app-input>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Card Number</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <app-input (inputChanged)="handleChange()" name="cardNumber" [control]="cardForm.controls.cardNumber"
                             [errors]="errors" placeholder="Card number"></app-input>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Expiration date</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <app-input (inputChanged)="handleChange()" name="expirationDate" [errors]="errors"
                             [control]="cardForm.controls.expirationDate"
                             placeholder="Expiration date  (month/year)"></app-input>
                </div>
              </div>
              <br>
            </div>
              <button class="btn btn-info submit-btn">{{!selectedCard.id?'Add':'Update'}}</button>
              <button (click)="loadCreditCards()" class="btn  submit-btn btn-warning">Close</button>

            <span *ngIf="cards.length===0 && !isCardModifying">You have no card</span>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>



